<body>
  <a id="main_up_btn" href='#' data-target='#myMatrix' data-action='slide' data-direction='up'>Up</a>
  <div id='myMatrix' class='slideMatrix'>
    <div class='slideMatrixContainer'>
      <div class='slideMatrixItem' id='leftContent2' data-x='0' data-y='1'>
        <div id=main>
          <h1 id="home_header" id="head1">Tomás Charad</h1>
          <div id=main_image>
            <%= image_tag 'matanzas.jpg'%>
          </div>
        </div>
      </div>
      <div class='slideMatrixItem' id='leftContent1Up' data-x='1' data-y='2'>
        <div id=main>
          <h1 id="home_header" id="head1">Tomás Charad</h1>
          <div id=main_image>
            <%= image_tag 'algarrobo.jpg'%>
          </div>
        </div>
      </div>
      <div class='slideMatrixItem' id='leftContent1' data-x='1' data-y='1'>
        <div id=main>
          <h1 id="home_header" id="head1">Tomás Charad</h1>
          <div id=main_image>
            <%= image_tag 'topocalma.jpg'%>
          </div>
        </div>
      </div>
      <div class='slideMatrixItem' id='leftContent1Down' data-x='1' data-y='0'>
        <div id=main>
          <h1 id="home_header" id="head1">Tomás Charad</h1>
          <div id=main_image>
            <%= image_tag 'brisas.jpg'%>
          </div>
        </div>
      </div>
      <div class='slideMatrixItem' id='mainContent' data-x='2' data-y='1'>
        <div id=main>
          <h1 id="home_header" id="head1">(Website under construction)</h1>
          <h1>IT</h1>
          <p>
            I'm a freelance software developer, I build any kind of webapps using responsive tech.<br>
            Responsive means that your website can be seen on tablets, mobile devices, or giant displays. In this matters, your website can be considered a webplatform, which is rich in logic, or a classic organization presentation website.<br>
            I've studied on one of the finest engineering schools of Chile and obtained the degree of Industrial Engineer with IT diploma obtaining remarkable distinctions.<br>
            I use state of the art tech, including Node.js, platform frameworks such as Rails, Rich client side application frameworks such as Angular.js, or any other solution that would feed your needs.<br>
            I also have vast knowledge on ERP's and IT solutions implementation. I can advise you or your organization throughout tech implementation and strategy.<br>
          </p>
          <ul>
            <li>
              <span>Contact mail: <a href="mailto:tomas.charad@gmail.com" style="z-index: 1;">tomas.charad@gmail.com</a></span>
            </li>
            <li>
              <span>CV: </span><a target="_blank" href="http://cl.linkedin.com/pub/tomas-charad/2a/bb6/26b/" style="z-index: 1;">Linkedin</a>
            </li>
          </ul>
          <div id=main_image>
            
          </div>
        </div>
      </div>
      <div class='slideMatrixItem' id='rightContent1' data-x='3' data-y='1'>
        <div id=main>
          <h1 id="home_header" id="head1">Tomás Charad</h1>
          <div id=main_image>
            <%= image_tag 'pucon.jpg'%>
          </div>
        </div>
      </div>
      <div class='slideMatrixItem' id='rightContent2' data-x='4' data-y='1'>
        <div id=main>
          <h1 id="home_header" id="head1">Tomás Charad</h1>
          <div id=main_image>
            <%= image_tag 'roca.jpg'%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a id="main_left_btn" href='#' data-target='#myMatrix' data-action='slide' data-direction='left'>Left</a>
  <a id="main_right_btn" href='#' data-target='#myMatrix' data-action='slide' data-direction='right'>Right</a>
  <a id="main_down_btn" href='#' data-target='#myMatrix' data-action='slide' data-direction='down'>Down</a>
</body>
